<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link th:href="@{${style}}" rel="stylesheet"  >
    <link th:href="@{/component.css}" rel="stylesheet">

</head>
<body >

        <!--above nav bar-->
        <nav class="navbar bg-coloring">
            <div class="d-flex justify-content-start">
                <button class="navbar-toggler " type="button" >
                    <a href="/"
                       class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <i class="bi bi-bank m-2"></i> <span class="fs-5">R<span
                            class="d-none d-sm-inline">ibbon</span></span>
                    </a>
                </button>
            </div>
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-2">
                        <button id="menubutton" onclick="myFunction()" class="btn icon-style"><i class="bi bi-list"></i></button>

                    </div>
                    <div class="col-2">
                        <h4 class="icon-style" > | </h4>
                    </div>
                    <div class="col-6">
                        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                            <i class="bi bi-search m-2"></i>
                            <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search"
                                   aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none " >
                    <img src="https://github.com/mdo.png"  width="28" height="28" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1"></span>
                </a>
            </div>

        </nav>

        <!--Menu bar section-->
        <div class="container-fluid overflow-hidden">
            <div class="row vh-100 overflow-auto">
                <div id="navpanel" class=" col-xl-2 col-xs-3 px-sm-2 px-0 navbar-coloring d-flex sticky-top">
                    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">

                        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start  m-2"
                            id="menu">
                            <li class="nav-item m-2">
                                <a href="/" class="nav-link px-sm-0 px-2">
                                    <i class="bi bi-house icons p-2 "></i><span class="ms-1 d-none d-sm-inline icon-text">Home</span>
                                </a>
                            </li>
                            <li class="m-2">
                                <a href="/users" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                                    <i class="bi bi-people icons  p-2 "></i><span class="ms-1 d-none d-sm-inline icon-text">Users</span> </a>
                            </li>
                            <li class="m-2">
                                <a href="/transactions" class="nav-link px-sm-0 px-2">
                                    <i class="bi bi-cash icons  p-2"></i><span
                                        class="ms-1 d-none d-sm-inline icon-text">Transaction</span></a>
                            </li>

                            <li class="m-2">
                                <a href="/providers" class="nav-link px-sm-0 px-2">
                                    <i class="bi bi-paypal icons  p-2"></i><span
                                        class="ms-1 d-none d-sm-inline icon-text">Providers</span></a>
                            </li>
                            <li class="m-2">
                                <a href="/" class="nav-link px-sm-0 px-2">
                                    <i class="bi bi-people-fill icons  p-2"></i><span
                                        class="ms-1 d-none d-sm-inline icon-text">About</span></a>
                            </li>

                        </ul>

            </div>
                </div>
                <div id="page" class="col col-xs-9 d-flex flex-column h-sm-100 " align="center"  >
                    <!--adding template content-->
                    <div  th:replace="${template}">this is template file changing</div>
                </div>


            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
</body>
<script>
function myFunction() {

  var x = document.getElementById("navpanel");
  var element = document.getElementById("page");
  if (x.style.visibility==='hidden') {
  x.style.visibility='visible';
     element.style.marginLeft = 0 + '%';

  }
  else {
    x.style.visibility='hidden';

        element.style.marginLeft = -15 + '%';

  }

}
</script>
</html>