
        <!-- list of users -->
<div class="col d-flex flex-column h-sm-100" align="center">
<div class="alert alert-primary shadow-lg p-3 mb-5 mt-3 rounded" role="alert">
    <h3 class="heading">Users List</h3>
</div>
    <table  style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr class="table-warning">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile NO</th>
            <th>Email</th>
            <th>DOB</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success" th:each="users:${alluserlist}">
            <td th:text="${users.id}"></td>
            <td  th:text="${users.firstName}">
                <div class="d-flex align-items-center">
                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                     class="rounded-circle" />
            </div>
            </td>
            <td th:text="${users.lastName}"></td>
            <td th:text="${users.mobileNo}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.dateOfBirth}"></td>
        </tr>
        </tbody>
    </table>

</div>
